body
{
	color: black;
	background-color: gray;
	margin: 1em;
	text-align: center;
}
img
{
	position: absolute;
	top: 0.5em;
	left: 1em;
	width: 5%;
	height: 8%;
}
h1
{
	color: black;
	border-style: solid;
	width: 45%;
	text-align: center;
	position: relative;
	left: 11.5em;
}
nav
{
	color: black;
	font-family: sans-serif;
	text-align: left;
	border-style:double;
	background-color: rgb(191, 191, 191);
	width: 7.5%;
	height: 400px;
	position: relative;
}
header
{
	height:200px;
	text-align: left;
}
#f
{
	font-size: 75%;
}
a:hover
{
	font-style: italic;
}
